<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Karl - Fashion Ecommerce Template | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


</head>

<body>


    <div class="catagories-side-menu">
        <!-- Close Icon -->

        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->

                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a href="#">Woman wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="women">
                            <li><a href="#">Midi Dresses</a></li>
                            <li><a href="#">Maxi Dresses</a></li>
                            <li><a href="#">Prom Dresses</a></li>
                            <li><a href="#">Little Black Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#man" class="collapsed">
                        <a href="#">Man Wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="man">
                            <li><a href="#">Man Dresses</a></li>
                            <li><a href="#">Man Black Dresses</a></li>
                            <li><a href="#">Man Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#kids" class="collapsed">
                        <a href="#">Children <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="kids">
                            <li><a href="#">Children Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#bags" class="collapsed">
                        <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="bags">
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Purses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                        <a href="#">Eyewear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="eyewear">
                            <li><a href="#">Eyewear Style 1</a></li>
                            <li><a href="#">Eyewear Style 2</a></li>
                            <li><a href="#">Eyewear Style 3</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                        <a href="#">Footwear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="footwear">
                            <li><a href="#">Footwear 1</a></li>
                            <li><a href="#">Footwear 2</a></li>
                            <li><a href="#">Footwear 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="app1">
            <!-- {{cartobj}}
            <div>
                {{typeof(cartobj)}}
            </div>
            <div v-for="(item,index) in cartobj" style="background-color: black; color: aliceblue;">test </div>
            -->
            <!-- ****** Header Area Start ****** -->
            <header class="header_area bg-img background-overlay-white"
                style="background-image: url(img/bg-img/bg-1.jpg);">
                <!-- Top Header Area Start -->
                <div class="top_header_area">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-end">

                            <div class="col-12 col-lg-7">
                                <div class="top_single_area d-flex align-items-center">
                                    <!-- Logo Area -->
                                    <div class="top_logo">
                                        <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                                    </div>
                                    <!-- Cart & Menu Area -->
                                    <div class="header-cart-menu d-flex align-items-center ml-auto">
                                        <!-- Cart Area -->
                                        <div class="cart">
                                            <a href="#" id="header-cart-btn" target="_blank">
                                                <span class="cart_quantity">{{shopitemcount}}</span>
                                                <i class="ti-bag"></i>
                                                Your Bag ${{displayprice}}
                                            </a>
                                            <!-- Cart List Area Start -->
                                            <ul class="cart-list">
                                                <li v-for="(item, index) in cartobj">

                                                    <a href="#" class="image"><img
                                                            v-bind:src=" 'img/product-img/product-' + item.itemID + '.jpg'"
                                                            class="cart-thumb" alt=""></a>
                                                    <div class="cart-item-desc">
                                                        <button @click="deletethis(index)" style="float:right;"
                                                            class="btn btn-outline-dark btn-sm"> delete </button>
                                                        <h6><a href="#">{{item.name}}</a></h6>

                                                        <p>{{item.qty}}x - <span class="price">${{item.price}}</span>
                                                        </p>

                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="header-right-side-menu ml-15">
                                            <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Top Header Area End -->
                <div class="main_header_area">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 d-md-flex justify-content-between">
                                <!-- Header Social Area -->
                                <div class="header-social-area">
                                    <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest"
                                            aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <!-- Menu Area -->
                                <div class="main-menu-area">
                                    <nav class="navbar navbar-expand-lg align-items-start">

                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                            aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                                                    class="ti-menu"></i></span></button>

                                        <div class="collapse navbar-collapse align-items-start collapse"
                                            id="karl-navbar">
                                            <ul class="navbar-nav animated" id="nav">
                                                <li class="nav-item active"><a class="nav-link"
                                                        href="index.html">Home</a></li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="karlDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">Pages</a>
                                                    <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                        <a class="dropdown-item" href="index.html">Home</a>
                                                        <a class="dropdown-item" href="shop.html">Shop</a>
                                                        <a class="dropdown-item" href="product-details.html">Product
                                                            Details</a>
                                                        <a class="dropdown-item" href="cart.html">Cart</a>
                                                        <a class="dropdown-item" href="checkout.html">Checkout</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item"><a class="nav-link" href="#">Dresses</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"><span
                                                            class="karl-level">hot</span> Shoes</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ****** Header Area End ****** -->

            <!-- ****** Top Discount Area Start ****** -->
            <section class="top-discount-area d-md-flex align-items-center">
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>Free Shipping &amp; Returns</h5>
                    <h6><a href="#">BUY NOW</a></h6>
                </div>
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>20% Discount for all dresses</h5>
                    <h6>USE CODE: Colorlib</h6>
                </div>
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>20% Discount for students</h5>
                    <h6>USE CODE: Colorlib</h6>
                </div>
            </section>
            <!-- ****** Top Discount Area End ****** -->

            <!-- ****** Cart Area Start ****** -->
            <div class="cart_area section_padding_100 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-table clearfix">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in cartobj">
                                            <td class="cart_product_img d-flex align-items-center">
                                                <a href="#"><img
                                                    v-bind:src=" 'img/product-img/product-' + item.itemID + '.jpg'"
                                                     alt="Product"></a>

                                                <h6>{{item.name}}</h6>
                                            </td>
                                            <td class="price"><span> ${{item.price}} </span></td>
                                            <td class="qty">
                                                <div class="quantity">
                                                    <span class="qty-minus"
                                                        @click = "item.qty--" 
                                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                                            class="fa fa-minus" aria-hidden="true"></i></span>
                                                    <!-- <span class="qty-minus" @click={{item.qty--}}><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                             -->
                                                            
                                                    <input type="number" class="qty-text" id="qty" step="1" min="1"
                                                        max="99" name="quantity" v-bind:value="item.qty" v-model="item.qty" >
                                                    <span class="qty-plus"
                                                        @click = "item.qty++"
                                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></span>
                                                </div>
                                            </td>
                                            <td class="total_price"><span>${{item.price * item.qty}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="cart-footer d-flex mt-30">
                                <div class="back-to-shop w-50">
                                    <a href="shop.html">Continue shooping</a>
                                </div>
                                <div class="update-checkout w-50 text-right">
                                    <a @click="clearcart()" href="#">clear cart</a>
                                    <a @click="savecart()" href="#">Update cart</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="coupon-code-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Cupon code</h5>
                                    <p>Enter your cupone code</p>
                                </div>
                                <form action="#">
                                    <input type="search" name="search" placeholder="#569ab15">
                                    <button type="submit">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="shipping-method-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Shipping method</h5>
                                    <p>Select the one you want</p>
                                </div>

                                <div class="custom-control custom-radio mb-30">
                                    <input type="radio" id="customRadio1" name="customRadio"
                                        class="custom-control-input">
                                    <label
                                        class="custom-control-label d-flex align-items-center justify-content-between"
                                        for="customRadio1"><span>Next day delivery</span><span>$4.99</span></label>
                                </div>

                                <div class="custom-control custom-radio mb-30">
                                    <input type="radio" id="customRadio2" name="customRadio"
                                        class="custom-control-input">
                                    <label
                                        class="custom-control-label d-flex align-items-center justify-content-between"
                                        for="customRadio2"><span>Standard delivery</span><span>$1.99</span></label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio"
                                        class="custom-control-input">
                                    <label
                                        class="custom-control-label d-flex align-items-center justify-content-between"
                                        for="customRadio3"><span>Personal Pickup</span><span>Free</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="cart-total-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Cart total</h5>
                                    <p>Final info</p>
                                </div>

                                <ul class="cart-total-chart">

                                    <li><span>Subtotal</span> <span>${{displayprice}}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span><strong>Total</strong></span> <span><strong>${{displayprice}}</strong></span></li>
                                </ul>
                                <a href="checkout.html" class="btn karl-checkout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****** Cart Area End ****** -->

            <!-- ****** Footer Area Start ****** -->
            <footer class="footer_area">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="single_footer_area">
                                <div class="footer-logo">
                                    <img src="img/core-img/logo.png" alt="">
                                </div>
                                <div class="copywrite_text d-flex align-items-center">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                            href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed
                                        by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="single_footer_area">
                                <ul class="footer_widget_menu">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="single_footer_area">
                                <ul class="footer_widget_menu">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Our Policies</a></li>
                                    <li><a href="#">Afiliates</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-lg-5">
                            <div class="single_footer_area">
                                <div class="footer_heading mb-30">
                                    <h6>Subscribe to our newsletter</h6>
                                </div>
                                <div class="subscribtion_form">
                                    <form action="#" method="post">
                                        <input type="email" name="mail" class="mail" placeholder="Your email here">
                                        <button type="submit" class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Footer Bottom Area Start -->
                    <div class="footer_bottom_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer_social_area text-center">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ****** Footer Area End ****** -->
        </div>
    </div>

    <!-- /.wrapper end -->
    <script type="application/javascript">
        var app = new Vue({
            el: "#app1",
            data: {

                shopitemcount: 0,
                displayprice: 0,
                test:0,
                // i assume this is where the dataset of SQL will go 
                // (`item_name`, `artist`, `item_id`, `item_price`, `item_quantity`, `item_category`, `item_status`)
                datalist: [{ "name": "dress", "price": "11", "itemID": 0 },
                { "name": "jeans", "price": "11", "itemID": 1 },
                { "name": "shorts1", "price": "12", "itemID": 2 },
                { "name": "shorts2", "price": "13", "itemID": 3 },
                { "name": "shorts3", "price": "14", "itemID": 4 },
                { "name": "shorts4", "price": "15", "itemID": 5 },
                { "name": "shorts5", "price": "16", "itemID": 6 },

                ],
                // this is the list that will go to the cart
                cartobj: {},

            }, mounted() {
                if (localStorage.getItem('cart')) {
                    try {
                        this.cartobj = JSON.parse(localStorage.getItem('cart'));
                    } catch (e) {
                        localStorage.removeItem('cart');
                    }
                }
                if (localStorage.price) {
                    this.displayprice = localStorage.price;
                }
                if (localStorage.qty) {
                    this.shopitemcount = localStorage.qty;
                }

            }, methods: {
                clearcart: function () {
                    this.cartobj = {};
                    localStorage.cart = {}
                    localStorage.price = 0
                    localStorage.qty = 0
                }, 
                savecart: function () {
                    todisplayprice = 0;
                    this.shopitemcount = 0;
                    for (inneritemID in this.cartobj) {
                        this.shopitemcount += Number(this.cartobj[inneritemID].qty)
                        todisplayprice += this.cartobj[inneritemID].price * this.cartobj[inneritemID].qty
                    }

                    this.displayprice = todisplayprice.toFixed(2);
                    const parsed = JSON.stringify(this.cartobj);
                    localStorage.setItem('cart', parsed);
                    localStorage.price = this.displayprice;
                    localStorage.qty = this.shopitemcount;
                }
            }
        })
    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>