<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title> Music Ecommerce | Shop</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


</head>

<body>

    <div id="wrapper">
        <!-- start of vue -->
        <div id="app1">
            <!-- ****** Header Area Start ****** -->
            <header class="header_area bg-img background-overlay-white"
                style="background-image: url(img/bg-img/bg-new.jpg);">
                <!-- Top Header Area Start -->
                <div class="top_header_area">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-end">

                            <div class="col-12 col-lg-7">
                                <div class="top_single_area d-flex align-items-center">
                                    <!-- Logo Area -->
                                    <div class="top_logo">
                                        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                                    </div>
                                    <!-- Cart & Menu Area -->
                                    <div class="header-cart-menu d-flex align-items-center ml-auto">
                                        <!-- Cart Area -->
                                        <div class="cart">
                                            <a href="#" id="header-cart-btn" target="_blank">
                                                <span class="cart_quantity">{{shopitemcount}}</span>
                                                <i class="ti-bag"></i>
                                                Your Bag ${{displayprice}}
                                            </a>
                                            <!-- Cart List Area Start -->
                                            <ul class="cart-list">

                                                <li v-for="(item, index) in cartobj">

                                                    <a href="#" class="image"><img
                                                            v-bind:src=" 'img/product-img/product-' + item.item_id + '.jpg'"
                                                            class="cart-thumb" alt=""></a>
                                                    <div class="cart-item-desc">
                                                        <button @click="deletethis(index)" style="float:right;"
                                                            class="btn btn-outline-dark btn-sm"> delete </button>
                                                        <h6><a href="#">{{item.item_name}}</a></h6>

                                                        <p>{{item.qty}}x - <span class="price">${{item.item_price}}</span>
                                                        </p>

                                                    </div>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Top Header Area End -->
                <div class="main_header_area">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 d-md-flex justify-content-between">
                                <!-- Header Social Area -->
                                <div class="header-social-area">

                                </div>
                                <!-- Menu Area -->
                                <div class="main-menu-area">
                                    <nav class="navbar navbar-expand-lg align-items-start">

                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                            aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                                                    class="ti-menu"></i></span></button>

                                            <div class="collapse navbar-collapse align-items-start collapse"
                                            id="karl-navbar">
                                            <ul class="navbar-nav animated" id="nav">
                                                <li class="nav-item active"><a class="nav-link"
                                                        href="index.html">Home</a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link" href="cart.html"> Cart </a></li>
                                                <li class="nav-item"><a class="nav-link" href="checkout.html"> Checkout </a></li>

                                            </ul>
                                        </div>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ****** Header Area End ****** -->

            <!-- ****** Top Discount Area Start ****** -->
            <section class="top-discount-area d-md-flex align-items-center">
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>Free Shipping &amp; Returns</h5>
                    <h6><a href="#">BUY NOW</a></h6>
                </div>

            </section>
            <!-- ****** Top Discount Area End ****** -->

            <!-- ****** Cart Area Start ****** -->
            <div class="cart_area section_padding_100 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-table clearfix">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in cartobj">
                                            <td class="cart_product_img d-flex align-items-center">
                                                <a href="#"><img
                                                        v-bind:src=" 'img/product-img/product-' + item.item_id + '.jpg'"
                                                        alt="Product"></a>

                                                <h6>{{item.item_name}}</h6>
                                            </td>
                                            <td class="price"><span> ${{item.item_price}} </span></td>
                                            <td class="qty">
                                                <!-- quantity button to adjust adding and minusing quantity -->
                                                <div class="quantity">
                                                    <span class="qty-minus" @click="item.qty--"
                                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                                            class="fa fa-minus" aria-hidden="true"></i></span>

                                                    <input type="number" class="qty-text" id="qty" step="1" min="1"
                                                        max="99" name="quantity" v-bind:value="item.qty"
                                                        v-model="item.qty">
                                                    <span class="qty-plus" @click="item.qty++"
                                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></span>
                                                </div>
                                            </td>
                                            <td class="total_price"><span>${{item.item_price * item.qty}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="cart-footer d-flex mt-30">
                                <div class="back-to-shop w-50">
                                    <a href="index.html">Continue shopping</a>
                                </div>
                                <div class="update-checkout w-50 text-right">
                                    <a @click="clearcart()" href="#">clear cart</a>
                                    <a @click="savecart()" href="#">Update cart</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-4"> </div>
                        <div class="col-12 col-md-6 col-lg-4"> </div>
                        <div class="col-12 col-lg-4">
                            <div class="cart-total-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Cart total</h5>
                                    <p>Final info</p>
                                </div>

                                <ul class="cart-total-chart">

                                    <li><span>Subtotal</span> <span>${{displayprice}}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span><strong>Total</strong></span>
                                        <span><strong>${{displayprice}}</strong></span></li>
                                </ul>
                                
                                <!-- check cart if there any negative items if there are it will not allow user to checkout -->
                                <a v-if="thereisnonegative" href="checkout.html" class="btn karl-checkout-btn">Proceed to checkout</a>
                                <a v-if="thereisnegative" class="btn karl-checkout-btn" style="opacity: 50%;">Proceed to checkout</a>
                                <p v-if="thereisnegative" style="color: red;"> please enter a positive quantity </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****** Cart Area End ****** -->

            <!-- ****** Footer Area Start ****** -->
            <footer class="footer_area">
                <div class="container">



                </div>
            </footer>
            <!-- ****** Footer Area End ****** -->
        </div>
    </div>

    <!-- /.wrapper end -->
    <script type="application/javascript">
        var app = new Vue({
            el: "#app1",
            data: {

                shopitemcount: 0,
                displayprice: 0,
                test: 0,
                thereisnonegative: true,
                thereisnegative: false,
                cartobj: {},

            }, mounted() {
                if (localStorage.getItem('cart')) {
                    try {
                        this.cartobj = JSON.parse(localStorage.getItem('cart'));
                    } catch (e) {
                        localStorage.removeItem('cart');
                    }
                }
                if (localStorage.price) {
                    this.displayprice = localStorage.price;
                }
                if (localStorage.qty) {
                    this.shopitemcount = localStorage.qty;
                }

            }, methods: {
                clearcart: function () {
                    this.cartobj = {};
                    localStorage.cart = {}
                    localStorage.price = 0
                    localStorage.qty = 0
                },
                savecart: function () {
                    

                    if (this.checknegative()) {
                        this.thereisnonegative = false;
                        this.thereisnegative = true;
                    } else {

                        todisplayprice = 0;
                        this.shopitemcount = 0;
                        for (inneritemID in this.cartobj) {
                            this.shopitemcount += Number(this.cartobj[inneritemID].qty)
                            todisplayprice += this.cartobj[inneritemID].item_price * this.cartobj[inneritemID].qty
                        }

                        this.displayprice = todisplayprice.toFixed(2);
                        const parsed = JSON.stringify(this.cartobj);
                        localStorage.setItem('cart', parsed);
                        localStorage.price = this.displayprice;
                        localStorage.qty = this.shopitemcount;
                        this.thereisnonegative = true;
                        this.thereisnegative = false;
                    }

                },
                checknegative: function () {
                    for (inneritemID in this.cartobj) {
                        if (Number(this.cartobj[inneritemID].qty < 0)) {
                            return true
                        }
                    }
                    return false
                }, deletethis: function (itemID) {
                    delete this.cartobj[itemID];

                    todisplayprice = 0;
                    this.shopitemcount = 0;
                    for (inneritemID in this.cartobj) {
                        this.shopitemcount += Number(this.cartobj[inneritemID].qty)
                        todisplayprice += this.cartobj[inneritemID].price * this.cartobj[inneritemID].qty
                    }
                    this.displayprice = todisplayprice.toFixed(2);
                    const parsed = JSON.stringify(this.cartobj);
                    localStorage.setItem('cart', parsed);
                    localStorage.price = this.displayprice;
                    localStorage.qty = this.shopitemcount;
                }

            }
        })
    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>