<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title> Music Ecommerce | Shop</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    
    <div class="catagories-side-menu">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a href="#">Woman wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="women">
                            <li><a href="#">Midi Dresses</a></li>
                            <li><a href="#">Maxi Dresses</a></li>
                            <li><a href="#">Prom Dresses</a></li>
                            <li><a href="#">Little Black Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#man" class="collapsed">
                        <a href="#">Man Wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="man">
                            <li><a href="#">Man Dresses</a></li>
                            <li><a href="#">Man Black Dresses</a></li>
                            <li><a href="#">Man Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#kids" class="collapsed">
                        <a href="#">Children <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="kids">
                            <li><a href="#">Children Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#bags" class="collapsed">
                        <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="bags">
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Purses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                        <a href="#">Eyewear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="eyewear">
                            <li><a href="#">Eyewear Style 1</a></li>
                            <li><a href="#">Eyewear Style 2</a></li>
                            <li><a href="#">Eyewear Style 3</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                        <a href="#">Footwear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="footwear">
                            <li><a href="#">Footwear 1</a></li>
                            <li><a href="#">Footwear 2</a></li>
                            <li><a href="#">Footwear 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="app1">


            <!-- ****** Header Area Start ****** -->
            <header class="header_area bg-img background-overlay-white"
                style="background-image: url(img/bg-img/bg-new.jpg);">
                <!-- Top Header Area Start -->
                <div class="top_header_area">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-end">

                            <div class="col-12 col-lg-7">
                                <div class="top_single_area d-flex align-items-center">
                                    <!-- Logo Area -->
                                    <div class="top_logo">
                                        <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Top Header Area End -->
                <div class="main_header_area">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 d-md-flex justify-content-between">
                                <!-- Header Social Area -->
                                <div class="header-social-area">
                                    <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest"
                                            aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <!-- Menu Area -->
                                <div class="main-menu-area">
                                    <nav class="navbar navbar-expand-lg align-items-start">

                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                            aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                                                    class="ti-menu"></i></span></button>

                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                            aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                                                    class="ti-menu"></i></span></button>

                                        <div class="collapse navbar-collapse align-items-start collapse"
                                            id="karl-navbar">
                                            <ul class="navbar-nav animated" id="nav">
                                                <li class="nav-item active"><a class="nav-link"
                                                        href="index.html">Home</a>
                                                </li>

                                                <li class="nav-item"><a class="nav-link" href="#"> Albums </a></li>
                                                <li class="nav-item"><a class="nav-link" href="#"> Instruments </a></li>
                                                <li class="nav-item"><a class="nav-link" href="cart.html"> Cart </a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link" href="checkout.html"> Checkout
                                                    </a></li>

                                            </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ****** Header Area End ****** -->

            <section class="top-discount-area d-md-flex align-items-center">
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>Free Shipping &amp; Returns</h5>
                    <h6><a href="#">BUY NOW</a></h6>
                </div>
                <!-- Single Discount Area -->
                <!-- <div class="single-discount-area">
                    <h5>20% Discount for all dresses</h5>
                    <h6>USE CODE: Colorlib</h6>
                </div>

                <div class="single-discount-area">
                    <h5>20% Discount for students</h5>
                    <h6>USE CODE: Colorlib</h6>
                </div> -->
            </section>

            <!-- ****** Checkout Area Start ****** -->
            <div class="checkout_area section_padding_100">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="checkout_details_area mt-50 clearfix">

                                <div class="cart-page-heading">
                                    <h5>Billing Address</h5>

                                </div>

                                <!-- asd -->



                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="first_name">First Name <span>*</span></label>
                                            <input @change="combine()" v-model="customer_firstname" type="text"
                                                class="form-control" id="first_name" value="" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="last_name">Last Name <span>*</span></label>
                                            <input @change="combine()" v-model="customer_lastname" type="text"
                                                class="form-control" id="last_name" value="" required>
                                        </div>

                                        <div class="col-12 mb-3">
                                            <label for="street_address">Address <span>*</span></label>
                                            <input v-model="customer_address" type="text" class="form-control mb-3"
                                                id="street_address" value="">

                                        </div>
                                        <!-- <div class="col-12 mb-3">
                                            <label for="postcode">Postcode <span>*</span></label>
                                            <input type="text" class="form-control" id="postcode" value="">
                                        </div> -->


                                        <div class="col-12 mb-3">
                                            <label for="phone_number">Phone No <span>*</span></label>
                                            <input v-model="customer_contact" type="number" class="form-control"
                                                id="phone_number" min="0" value="">
                                        </div>
                                        <!-- <div class="col-12 mb-4">
                                            <label for="telegram_id">Telegram ID <span>*</span></label>
                                            <input v-model="telegram_id" type="text" class="form-control" id="telegram_id" value="">
                                        </div> -->

                                        <div class="col-12">
                                            <div class="custom-control custom-checkbox d-block mb-2">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"> I agree to the
                                                    Terms and
                                                    conitions</label>
                                            </div>
                                            <div class="custom-control custom-checkbox d-block mb-2">
                                                <a style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: blue; text-decoration: underline; "
                                                    href="terms.html"> Terms and conditions </a>
                                                <!-- <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">Create an
                                                    accout</label> -->
                                            </div>
                                            <div class="custom-control custom-checkbox d-block">
                                                <!-- <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">Subscribe to our
                                                    newsletter</label> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">

                                <div class="cart-page-heading">
                                    <h5>Your Order</h5>
                                    <p>The Details</p>
                                </div>

                                <ul class="order-details-form mb-4">
                                    <li><span>Product</span> <span>Total</span></li>

                                    <li v-for="(item, index) in cartobj">
                                        <span> {{item.item_name}} x {{item.qty}} </span> <span style="float: right;"> $
                                            {{item.item_price * item.qty}} </span>


                                    </li>

                                    <li><span>Subtotal</span> <span> ${{displayprice}} </span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span>
                                        <h5>${{displayprice}}</h5>
                                    </li>
                                </ul>



                                <!-- href="payment.html" -->
                                <a @click="placeOrder()" class="btn karl-checkout-btn" data-toggle="modal" data-target="#exampleModalCenter">Place Order</a>


                            
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Order Status</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div v-if="orderstatus==''">
                                                    <img src="img/core-img/spinner.gif" alt="" style="padding: 1% 25%;">
                                                </div>
                                                <div v-else-if="orderstatus=='Order has failed'" style="color: red;">
                                                    {{orderstatus}}
                                                </div>
                                                <div v-else>
                                                    {{orderstatus}}
                                                </div>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                            
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- ****** Checkout Area End ****** -->

                <!-- ****** Footer Area Start ****** -->
                <footer class="footer_area">
                    <div class="container">
                        <div class="row">
                            <!-- Single Footer Area Start -->
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="single_footer_area">
                                    <div class="footer-logo">
                                        <img src="img/core-img/logo.png" alt="">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Footer Area Start -->
                            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                                <div class="single_footer_area">
                                    <ul class="footer_widget_menu">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Faq</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Single Footer Area Start -->
                            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                                <div class="single_footer_area">
                                    <ul class="footer_widget_menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Our Policies</a></li>
                                        <li><a href="#">Afiliates</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Single Footer Area Start -->
                            <div class="col-12 col-lg-5">
                                <div class="single_footer_area">
                                    <div class="footer_heading mb-30">
                                        <h6>Subscribe to our newsletter</h6>
                                    </div>
                                    <div class="subscribtion_form">
                                        <form action="#" method="post">
                                            <input type="email" name="mail" class="mail" placeholder="Your email here">
                                            <button type="submit" class="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!-- Footer Bottom Area Start -->
                        <div class="footer_bottom_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer_social_area text-center">
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- ****** Footer Area End ****** -->

                <!-- vue end -->
            </div>
        </div>
        <!-- /.wrapper end -->

        <script type="application/javascript">
            var place_order_URL = "http://localhost:7100/place_order";
            var app = new Vue({
                el: "#app1",
                data: {

                    shopitemcount: 0,
                    displayprice: 0,
                    cartobj: {},

                    message: "There is a problem retrieving item data, please try again later.",
                    orderedItems: "",
                    orderPlaced: false,
                    orderSuccessful: false,

                    customer_id: "2",
                    customer_firstname: '',
                    customer_lastname: '',
                    customer_name: '',
                    customer_address: '',
                    customer_contact: '',
                    telegram_id: ' ',
                    cart_item: [],
                    orderString: { "customer_id": "", "customer_name": "", "customer_address": "", "customer_contact": "", "telegram_id": "", "cart_item": "" },
                    orderstatus: '',

                }

                , methods: {
                    combine: function () {
                        this.customer_name = this.customer_firstname + " " + this.customer_lastname
                    },

                    placeOrder: function () {
                        this.orderString["customer_id"] = this.customer_id
                        this.orderString["customer_name"] = this.customer_firstname
                        this.orderString["customer_address"] = this.customer_address
                        this.orderString["customer_contact"] = this.customer_contact
                        this.orderString["telegram_id"] = this.telegram_id
                        this.orderString["cart_item"] = this.cart_item

                        fetch(place_order_URL,
                            {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: JSON.stringify(this.orderString)
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                result = data.data;
                                console.log(result);
                                // 3 cases
                                switch (data.code) {
                                    case 201:
                                        // 201
                                        this.orderSuccessful = true;
                                        orderMessage =
                                            `Order placed
                                        Order Result:
                                        ${result.order_result.code}:successful`;
                                        // ${result.order_result.data.status};
                                        this.orderstatus = "Order is successful placed"
                                        break;

                                    case 400:
                                        // 400 
                                        this.orderSuccessful = true;
                                        orderMessage =
                                            `Order placed
                                        Order Result:
                                        ${result.order_result.code}:${result.order_result.data.status}

                                        Error handling:
                                        ${data.message}`;
                                        
                                        break;
                                    case 500:
                                        // 500 
                                        orderMessage =
                                            `Order placed with error:
                                        Order Result:
                                        ${result.order_result.code}:${result.order_result.message}

                                        Error handling:
                                        ${data.message}`;
                                        break;
                                    default:
                                        orderMessage = `Unexpected error: ${data.code}`;
                                        console.log(`Unknown error code : ${data.code}`);
                                        this.orderstatus = "Order has failed"
                                        break;

                                } // switch
                                console.log(orderMessage);
                                this.orderPlaced = true;
                            })
                            .catch(error => {
                                console.log("Problem in placing an order. " + error);
                            })
                    }
                }, mounted() {

                    if (localStorage.getItem('cart')) {
                        try {
                            this.cartobj = JSON.parse(localStorage.getItem('cart'));
                        } catch (e) {
                            localStorage.removeItem('cart');
                        }
                    }
                    if (localStorage.price) {
                        this.displayprice = localStorage.price;
                    }
                    if (localStorage.qty) {
                        this.shopitemcount = localStorage.qty;
                    }
                    for (itemID in this.cartobj) {
                        obj = { "item_id": itemID, "quantity": this.cartobj[itemID].qty }
                        this.cart_item.push(obj)
                    }

                }
            })
        </script>

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="js/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>

</body>

</html>